# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
env/
ENV/

# Temporary files & caches
.temp/
temp/
configs/
CONFIG_*/
*.log
scratch/
pacote_*/
*.zip

# IDE
.vscode/
.idea/
.DS_Store

# PyInstaller
build/
dist/
*.spec
